.timetables {
    height: 400px;
    width: 100%;
    background-color: #e8ebf1;
    padding: 60px 0px;
    .container{
        display: flex;
        .timetables-left{
            width: 50%;
            color: $blue-boolean;
            h3 {
                font-size: 45px;
                font-weight: lighter;
                margin-bottom: 20px;
            }
            p {
                font-size: 19px;
                margin-bottom: 18px;
                font-weight: lighter;
                span {
                    font-weight: normal;
                }
            }
        }
        .timetables-right {
            padding: 30px 30px;
            .timetables-schedule{
                width: 500px;
                padding: 10px 50px;
                background-color:
                white;
                box-shadow: 5px 7px 14px 2px #b0b0b0;
                margin-bottom: 20px;
                border-radius: 5px;
                display: flex;
                align-items: center;
                img {
                    width: 40px;
                }
                span {
                    color: $blue-boolean;
                    font-size: 22px;
                    margin-left: 50px;
                }
            }
        }
    }
}