* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 0px 13%;
}

header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  padding: 10px 0px;
  position: fixed;
  z-index: 2;
}

header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 10px;
}

header .header-container .header-logo img {
  width: 200px;
}

header .header-container .header-nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

header .header-container .header-nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

header .header-container .header-nav ul li {
  display: inline;
  text-transform: uppercase;
  padding: 10px 30px;
  margin: 0px 10px;
  font-size: 13px;
  color: #1b3c59;
}

header .header-container .header-nav ul li a {
  text-decoration: none;
  color: #1b3c59;
}

header .header-container .header-nav ul li:hover {
  border-bottom: 2px solid #73d462;
  cursor: pointer;
}

header .header-container .header-nav ul li.active {
  border-bottom: 2px solid #73d462;
}

header .header-container .header-nav button {
  background-color: #61ce4e;
  color: white;
  border-color: transparent;
  border-radius: 5px;
  text-transform: uppercase;
  height: 40px;
  padding: 0px 30px;
  margin-left: 30px;
  font-size: 16px;
}

header .header-container .header-nav button:hover {
  cursor: pointer;
  background-color: #73d462;
}

.jumbotron {
  padding-top: 80px;
}

.jumbotron .jumbotron-wrapper {
  height: 500px;
  display: flex;
  align-items: center;
}

.jumbotron .jumbotron-wrapper .jumbotron-left {
  width: 50%;
}

.jumbotron .jumbotron-wrapper .jumbotron-left .title-wrapper {
  margin-bottom: 30px;
}

.jumbotron .jumbotron-wrapper .jumbotron-left .title-wrapper h2 {
  color: #1b3c59;
  font-size: 55px;
  text-transform: uppercase;
}

.jumbotron .jumbotron-wrapper .jumbotron-left .title-wrapper h2.jumbotron-first {
  font-weight: lighter;
}

.jumbotron .jumbotron-wrapper .jumbotron-left h3 {
  color: #1b3c59;
  margin-bottom: 20px;
  font-size: 22px;
}

.jumbotron .jumbotron-wrapper .jumbotron-left ul li {
  color: #1b3c59;
  font-weight: lighter;
  font-size: 20px;
  margin-left: 20px;
}

.jumbotron .jumbotron-wrapper .jumbotron-left ul li span {
  font-weight: normal;
}

.jumbotron .jumbotron-wrapper .jumbotron-right {
  width: 50%;
  display: flex;
  justify-content: center;
}

.jumbotron .jumbotron-wrapper .jumbotron-right img {
  max-width: 90%;
}

.jumbotron-corso {
  width: 100%;
  height: 650px;
  padding-top: 80px;
}

.jumbotron-corso .jumbotron-corso-background {
  width: 100%;
  height: 100%;
  background-image: url("https://www.boolean.careers/images/courses/jumbo.jpg");
  background-size: cover;
  position: relative;
}

.jumbotron-corso .jumbotron-corso-background .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(27, 60, 89, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.jumbotron-corso .jumbotron-corso-background .layer .container {
  padding: 0px 200px;
}

.jumbotron-corso .jumbotron-corso-background .layer .container h2 {
  font-size: 60px;
  text-transform: uppercase;
}

.jumbotron-corso .jumbotron-corso-background .layer .container h2:first-child {
  font-weight: lighter;
}

.jumbotron-corso .jumbotron-corso-background .layer .container h2:nth-of-type(2) {
  margin-bottom: 50px;
}

.jumbotron-corso .jumbotron-corso-background .layer .container p {
  font-size: 22px;
}

.timetables {
  height: 400px;
  width: 100%;
  background-color: #e8ebf1;
  padding: 60px 0px;
}

.timetables .container {
  display: flex;
}

.timetables .container .timetables-left {
  width: 50%;
  color: #1b3c59;
}

.timetables .container .timetables-left h3 {
  font-size: 45px;
  font-weight: lighter;
  margin-bottom: 20px;
}

.timetables .container .timetables-left p {
  font-size: 19px;
  margin-bottom: 18px;
  font-weight: lighter;
}

.timetables .container .timetables-left p span {
  font-weight: normal;
}

.timetables .container .timetables-right {
  padding: 30px 30px;
}

.timetables .container .timetables-right .timetables-schedule {
  width: 500px;
  padding: 10px 50px;
  background-color: white;
  box-shadow: 5px 7px 14px 2px #b0b0b0;
  margin-bottom: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.timetables .container .timetables-right .timetables-schedule img {
  width: 40px;
}

.timetables .container .timetables-right .timetables-schedule span {
  color: #1b3c59;
  font-size: 22px;
  margin-left: 50px;
}

.stats {
  width: 100%;
  background-color: #1b3c59;
}

.stats .container {
  display: flex;
  justify-content: space-between;
}

.stats .container .stats-wrapper {
  width: 25%;
  color: white;
  margin: 50px 0px;
}

.stats .container .stats-wrapper .stats-title {
  font-size: 50px;
  text-align: center;
}

.stats .container .stats-wrapper .stats-title h3 {
  font-weight: normal;
}

.stats .container .stats-wrapper .stats-text {
  font-size: 19px;
  text-align: center;
  font-weight: lighter;
}

.stats .container .stats-wrapper .stats-text p {
  line-height: 25px;
}

.companies .container {
  margin-bottom: 20px;
}

.companies .container h3 {
  color: #8e8e8e;
  font-weight: normal;
  margin-bottom: 30px;
}

.companies .container div.companies-wrapper-top {
  display: flex;
}

.companies .container div.companies-wrapper-bottom {
  display: flex;
  justify-content: flex-end;
}

.companies .container div img {
  max-width: 250px;
  margin: 0px 40px;
}

.faq {
  padding-top: 100px;
}

.faq .faq-intro {
  color: #1b3c59;
  padding: 60px 100px;
}

.faq .faq-intro h2 {
  font-size: 44px;
  font-weight: normal;
  margin-bottom: 30px;
}

.faq .faq-intro h3 {
  font-size: 18px;
  font-weight: normal;
}

.faq .faq-intro h3 a {
  color: #1b3c59;
}

.faq .faq-content {
  display: flex;
}

.faq .faq-content .faq-content-left {
  width: 50%;
  padding: 50px 80px;
  background-color: #e8ebf1;
  color: #1b3c59;
}

.faq .faq-content .faq-content-left h3 {
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 30px;
}

.faq .faq-content .faq-content-left .faq-element {
  padding: 20px 0px;
}

.faq .faq-content .faq-content-left .faq-element .faq-question {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.faq .faq-content .faq-content-left .faq-element .faq-question h4 {
  font-weight: normal;
  font-size: 24px;
  margin-bottom: 10px;
}

.faq .faq-content .faq-content-left .faq-element .faq-question i {
  font-size: 25px;
}

.faq .faq-content .faq-content-left .faq-element .faq-answer {
  display: none;
}

.faq .faq-content .faq-content-left .faq-element .faq-answer p {
  font-size: 18px;
  line-height: 30px;
}

.faq .faq-content .faq-content-right {
  width: 50%;
  padding: 50px 80px;
  background-color: #1b3c59;
  color: white;
}

.faq .faq-content .faq-content-right h3 {
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 30px;
}

.faq .faq-content .faq-content-right .faq-element {
  padding: 20px 0px;
}

.faq .faq-content .faq-content-right .faq-element .faq-question {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.faq .faq-content .faq-content-right .faq-element .faq-question h4 {
  font-weight: normal;
  font-size: 24px;
  margin-bottom: 10px;
}

.faq .faq-content .faq-content-right .faq-element .faq-question i {
  font-size: 25px;
}

.faq .faq-content .faq-content-right .faq-element .faq-answer {
  display: none;
}

.faq .faq-content .faq-content-right .faq-element .faq-answer p {
  font-size: 18px;
  line-height: 30px;
}

footer {
  background-color: #1b3c59;
}

footer .container {
  padding-top: 60px;
}

footer .container .footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
}

footer .container .footer-top .footer-top-left {
  display: flex;
  flex-direction: column;
  color: white;
  margin-bottom: 10px;
}

footer .container .footer-top .footer-top-left img {
  width: 200px;
  margin-bottom: 5px;
}

footer .container .footer-top .footer-top-left span {
  font-size: 15px;
  line-height: 22px;
}

footer .container .footer-top .footer-top-right ul {
  list-style: none;
  text-align: end;
}

footer .container .footer-top .footer-top-right ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  line-height: 30px;
}

footer .container .footer-top .footer-top-right ul li a:hover {
  text-decoration: underline;
}

footer .container .footer-bottom .footer-bottom-top {
  color: white;
  display: flex;
  justify-content: center;
}

footer .container .footer-bottom .footer-bottom-top ul li {
  display: inline;
}

footer .container .footer-bottom .footer-bottom-top ul li i {
  font-size: 35px;
  margin: 30px 20px;
}

footer .container .footer-bottom .footer-bottom-top ul li i:hover {
  color: #61ce4e;
  cursor: pointer;
}

footer .container .footer-bottom .footer-bottom-bottom {
  color: white;
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}

footer .container .footer-bottom .footer-bottom-bottom span {
  font-size: 15px;
}

